@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    @await Component.InvokeAsync("_DashboardHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_DashboardNavbarComponentPartial")
    @await Component.InvokeAsync("_DashboardBannerComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_DashboardFooterComponentPartial")
    @await Component.InvokeAsync("_DashboardScriptComponentPartial")
</body>
</html>

