
@*
    
*@
@{
    var image1 = "~/deluxe-master/images/bg_1.jpg";
    var image2 = "~/deluxe-master/images/bg_2.jpg";
}    
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url('@Url.Content(image1)');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Deluxe'e Hoş Geldiniz</h1>
                        <h2>Otel &amp; Tatil Köyleri</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url('@Url.Content(image2)');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Lüks Bir Deneyimin Tadını Çıkarın</h1>
                        <h2>Bize Katılın</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>